* {
    box-sizing: border-box;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}
.card {
    width: 155px;
    height: 155px;
    background-color: gray;
    float: left;
    margin: 5px;
}


.back {
  display: none;
}